* {
  padding: 0;
}

body {
  --body-width: 850px;
  --left-column-width: 310px;
  display: flex;
  flex-direction: column;
  width: var(--body-width);
  height: calc(var(--body-width) * 1.4142);
  margin: 20px auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration-style: dotted;
}

@keyframes title-boom {
  from {
    color: #000;
    opacity: 1;
  }
  to {
    color: red;
    font-size: 300%;
    opacity: 0;
  }
}

/* -------------HEADER----------------- */

.header {
  display: flex;
  align-items: center;
}
.photo-container {
  display: flex;
  width: 310px;
  padding: 20px;
  justify-content: center;
}
.main-photo {
  width: 200px;
}

.header__text-box {
  align-self: flex-start;
  line-height: 2em;
}
.header__full-name {
  width: 200px;
  margin-top: 40px;
}
.header__name {
  font-weight: 400;
}
.subheader {
  font-weight: 200;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  font-size: 12px;
}

/* -------------MAIN----------------- */
.main-container {
  display: flex;
  flex-grow: 1;
}

.aside-wrapper {
  width: var(--left-column-width);
  flex-shrink: 0;
  padding: 20px;
  padding-top: 60px;
}

aside {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgb(228, 183, 147);
  border-radius: 5px;
}

aside > section {
  padding: 0 20px 40px 20px;
}

aside ul {
  list-style: none;
}

li span {
  position: relative;
  left: 10px;
}

.discord::before {
  content: url("../images/discord_icon.png");
  vertical-align: top;
}

.telegram::before {
  content: url("../images/telegram_icon.png");
  vertical-align: top;
}

.vk::before {
  content: url("../images/vk_icon.png");
  vertical-align: top;
}

.mail::before {
  content: url("../images/mail_icon.png");
  vertical-align: top;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-shrink: 1;
}

main > section {
  /* padding: 0 20px 40px 20px; */
}

main ul {
  list-style-position: inside;
  list-style-type: "\27AE";
}

pre {
  background-color: rgb(228, 183, 147);
  border-radius: 8px;
  margin: 0 20px 0 10px;
}

.section-title {
  text-shadow: 3px 3px 3px #ccc;
}

/* .contacts__section-title:target,
.about-me__section-title:target {
  transition: color .5s;
  color: red;
} */

.contacts__section-title:target,
.about-me__section-title:target {
  animation: .5s title-boom;
}

.section-content {
  margin-left: 10px;
  margin-right: 20px;
  text-align: justify;
}
/* -------------FOOTER----------------- */

footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color:rgb(233, 232, 232);
}

footer div:last-child {
  flex-basis: 145px;
}

.footer-block {
  padding: 0 20px;
}

.footer-block img{
  display: block;
  height: 25px;
  margin: 0 auto;
}
